body {
  overflow-x: hidden;
}

img.rounded {
  box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%),
    0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}
/* el  efecto "typewriter" o "escribiendo" */
.typewriter h3 {
  color: #fff;
  overflow: hidden; /* Asegura que el contenido no es mostrado hasta la animacion */
  border-right: .15em solid rgb(255, 255, 255); /* El cursor escribiendo */
  white-space: nowrap; /* Mantiene el texto o contenido en una sola linea */
  margin: 0 auto; /* Da ese efecto de escroleo asi cuando uno escribe */
  letter-spacing: .15em; /* Ajustando el texto */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* El efecto "typewriting" o escribiendo */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* El cursor parpadeante, estilo y animacion */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}

.bg-white {
  background-color: #ffffff;
}
.verticalmente-centrado {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pl-3 {
  padding-left: 40px;
}

.text-after::after {
  content: "";
  position: absolute;
  border-top: 1px solid #1e4271;
  left: 50%;
  margin-left: -15px;
  margin-top: 35px;
  width: 30px;
  height: 0px;
}

.con-linea-llamativa:before {
  content: "";
  display: block;
  position: relative;
  margin-bottom: 24px;
  width: 79px;
  height: 1px;
  background: #6f7782;
}

.accordion-item {
  background-color: #212529 !important;
  color: white !important;
}

.header {
  background-color: #202634;
  border-bottom: 1px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.bg-dark {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.nav-link {
  font-weight: 600 !important;
}

.fondo-principal {
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-color: #202634 !important;
}
@media screen and (min-width: 800px) {
  .text-right-farthest {
    padding-left: 150px !important;
  } 
}

@media screen and (max-width: 800px) {
  .text-right-farthest {
    text-align: center;
  } 
  .text-center-mobile {
    text-align: center;
  } 
  img{
    display:none;
  }
}



.navbar-brand {
  padding-left: 2.5%;
  font-size: 30px !important;
}

.navbar-nav {
  float: right !important;
}
.accordion-button {
  background-color: #212529 !important;
  color: white !important;
}

.icon {
  font-size: 50px;
}
